
    fieldset{ max-width:400px;}
    ul{padding:0;width:100%;float:left;display:block;margin:0;}                
    label{padding-right:1em;font-weight:lighter;display:block;font-weight: bolder;}  
    .memo{ width:300px; }      
    #profilePicture{float:left;display:block;margin-bottom:.75em;}
    .produceIndustryInterests input{width:1em;}
    .produceIndustryInterests ul{clear:both;display:inline-block;width:100%;margin-top:0}
    .produceIndustryInterests li{width:100%;}
    .produceIndustryInterests label{padding:0;font-weight:lighter;white-space: nowrap;}
    .buttons{width:100%;margin:.25em;display:block;padding:0;}
    #produceInterestsInfo input{width:4em;}
    #produceInterestsInfo ul{clear:both;display:inline-block;width:100%;}
    #produceInterestsInfo li{width:100%;}
    #produceInterestsInfo label{padding:0;font-weight:lighter;white-space: nowrap;display:inline-block;}
    .contactInformation ul{clear:both;display:inline-block;width:100%;}
    .contactInformation label{display:block;}
    .contactInformation .dataValue{display:block;padding:0 0 .5em .25em;}
    .dataValue{display:block;padding:0 0 .75em .25em;}
    .editPersonalInformation label{width:100%;}
    .editPersonalInformation .description{max-width:100%;white-space: normal}
