.module {
    /*background-attachment: fixed;*/
    width: 100%;  
    position: relative;
    overflow: hidden;   

    }
    .module > header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
   /* background: inherit;*/
    /*background-attachment: fixed;*/
    overflow: hidden;
    }
    .module > header::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 200%;
    height: 200%;
    background: inherit;
    
    /*background-attachment: fixed;*/
    -webkit-filter: blur(4px);
    filter: blur(4px);
    }
    .module > header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    filter: blur(10px);
    -webkit-filter: blur(10px)
    }
    .module > header > h1 {
    margin: 0;
    color: white;
    position: relative;
    z-index: 1;
    }
    .module > header > h4{
        color:#fff;
        text-emphasis: em;
<<<<<<< HEAD
        text-shadow: 1px 1px #000;
=======
>>>>>>> setting up local linux
    }

* {
box-sizing: border-box;
}