$highlightColor:#72BF44;
$maxHeightHero:550px;

  ol.carousel-indicators {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
  }
  ol.carousel-indicators li{
      text-indent:0;
      color:#fff;
      font-weight: 400;
      text-transform: capitalize;
      padding-top:1em;

  }
  ol.carousel-indicators li,
  ol.carousel-indicators li.active {
    float: left;
    width: 33%;
    height: 50px;
    margin: 0;
    border-radius: 0;
    border: 0;
    background: transparent;
  }
  
  ol.carousel-indicators li.active {
    background-color: rgba(0,0,0,.75); 
    border: solid 2px $highlightColor;
    
  }

  .carousel-caption{
    top:$maxHeightHero/4;
    height:$maxHeightHero/3;
    background-color: rgba(0,0,0,.45); 
    max-width:800px; 
    padding:.5em .5em .5em .5em;
    margin:0 auto; 
    border-radius: 10px;
  }

  .container{
      
      width:100%;
      margin:0;
      padding:0;

  }
  .carousel-inner{
    width:100%;
    max-height: $maxHeightHero !important;
  }

    
    .carouselCaption h3{
      text-shadow: 1px 1px 2px black;
    }
    

@media (max-width: 400px) {


      #imgHolder{
        width:100%;
        height:400px;
      }
      #imgHolder img{
        width: 100%; 
            height: 600px; 
            margin: -530px -400 -230 -680px; 
      }
    }