form label {
    float:left;
    width:25%;
    margin-right:0.5em;
    padding-top:0.2em;
    text-align:right;
    font-weight:bolder;
  }
   
  form div {
    margin-bottom: 10px;
  }
   
  .error {
    color: red;
    margin-left: 5px;
  }
   
  label.error {
    display: inline;
  }