body{font-family: 'Open Sans', sans-serif; padding:0; margin:.5em;}
select{font-size:1em;}
fieldset {
    padding: 1em;
    font:1em/1 ;
    }
  label {
    float:left;
    width:25%;
    margin-right:0.5em;
    padding-top:0.2em;
    text-align:right;
    font-weight:bold;
    }
fieldset div{
    margin-top:.75em;
}
  