@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,600,600i,800,800i');

/*----- COMMON SETTINGS - Open -----*/
html {
	font-size: 16px;
}
body {
	background: #fff;
	color: #000;
	font-family: 'Muli', sans-serif!important;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.4em;
	/*min-height: 0!important;*/
	width: 100%;
}
a {
	color: #40a9a0;
	font-weight: 600;
	outline: none!important;
	text-decoration: none!important;
}
a:hover {
	color: #000;
	text-decoration: none;
}
p {
	margin: 0px 0px 15px 0px;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.1em;
	font-weight: 800;
	margin: 0px 0px 15px 0px!important;
}
h1 {
	color: #000;
	font-size: 2.4em;
}
h2 {
	color:#5a4633;
	font-size: 1.8em;
}
h3 {
	color: #f47647;
	font-size: 1.6em;
}
h4 {
	color: #5a4633;
	font-size: 1.4em;
}
h5 {
	color: #000;
	font-size: 1.4em;
}
h6 {
	color: #f47647;
	font-size: 1.2em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: 800;
}
h1 a {
	color: #444;
}
h2 a {
	color: #444;
}
h3 a {
	color: #444;
}
h4 a {
	color: #444;
}
h5 a {
	color: #444;
}
h6 a {
	color: #444;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color: #ff7700;
}
hr {
	background: none;
	border: none;
	border-top: 1px #ccc solid;
	display: block;
	height: 0px;
	margin: 20px 0px;
}
blockquote {
	border-left: 5px #999 solid;
	font-style: oblique;
	padding-left: 15px;
}
/* TABLE */
table {
	background: #fff;
	color: #333;
}
table,
thead,
tbody,
tr,
th,
td {
	border-color: #d4cbc2;
}
thead tr,
tbody th {
	background-color: #72bf44;
	border: 1px #72bf44 solid;
	color: #fff;
	font-size: 1em;
	font-weight: 400;
}
tr {
	background-color: #fffbf9;
    border-top: 1px solid #d4cbc2;
	border-bottom: 0px;
}
tr:nth-child(2n+2) {
	background-color: #fff;
	border-bottom: 0px;
}
/* TRANSITION */
a,
#edit-cancel,
input[type=submit],
.slick__arrow .slick-arrow,
.transition {
	-webkit-transition: all 150ms linear;
	   -moz-transition: all 150ms linear;
		-ms-transition: all 150ms linear;
		 -o-transition: all 150ms linear;
			transition: all 150ms linear;
}
/* SPECIAL PARAGRAPH */
p.paragraph-left,
p.paragraph-right {
  display: inline-block;
  position: relative;
  margin: 0px 0px 15px 0px;
  vertical-align: top;
  width: 47%;
}
p.paragraph-left {
  margin-right: 2%!important;
}
p.paragraph-right {
  margin-left: 2%!important;
}
#content ul li, .node-content ul li, .sidebar .block-content ul li {
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 0px 15px;
}
/*----- COMMON SETTINGS - Open -----*/


/*----- SPECIAL BUTTONS - Open -----*/
a.blue,
a.green,
a.orange {
	display: inline-block;
	font-weight: 400;
	margin: 0px 1px 5px 0px;
	padding: 5px 15px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	white-space: nowrap;
}
a.blue {
	background: #1A4499;
	color: #fff!important;
}
a.blue:hover {
	background: #3462BF;
	color: #fff!important;
}
a.green {
	background: #3f9d1f;
	color: #fff!important;
}
a.green:hover {
	background: #4fb92b;
	color: #fff!important;
}
a.orange {
	background: #ff7700;
	color: #fff!important;
}
a.orange:hover {
	background: #ff9900;
	color: #fff!important;
}
/*----- SPECIAL BUTTONS - Close -----*/


/*----- HEADER - Open -----*/
#header-region-first {}
#header-region-second {}
#header .header-inner {}
/* LOGO */
.site-logo {
	height: 155px;
}
/*----- HEADER - Close -----*/


/*----- SLICK - Open -----*/
/*----- SLICK - Close -----*/


/*----- COVER - Open -----*/
/*----- COVER - Close -----*/


/*----- NAVBAR - Open -----*/
#navbar {
	background: #444;
	min-height: 46px;
}
/*----- NAVBAR - Close -----*/


/*----- TITLE BAR - Open -----*/
.title-bar-full {
	border: none;
}
/*----- TITLE BAR - Close -----*/


/*----- TWO COLUMNS TOP - Open -----*/
#two-columns-top .two-columns-top .two-columns-top-inner {
	border: 1px #ddd solid;
    padding: 20px;
}
/*----- TWO COLUMNS TOP - Close -----*/


/*----- CONTAINER - Open -----*/
#full-container {
	background: #fff;
}
#main {
	padding: 30px 10px;
}
#content {
	position: relative;
}
#content-inner {}
#content-area {}
#content-top,
#content-bottom {
	background: #f4f4f4;
	margin-bottom: 20px;
    padding: 20px 20px 5px 20px;
}
/*----- CONTAINER - Close -----*/


/*----- THREE COLUMNS TOP/BOTTOM - Open -----*/
#three-columns-bottom {
	padding: 0px 10px;
}
#three-columns-bottom .three-columns-bottom .three-columns-bottom-inner,
#three-columns-top .three-columns-top .three-columns-top-inner {
	border: 1px #ddd solid;
    padding: 20px;
}
/*----- THREE COLUMNS TOP/BOTTOM - Close -----*/


/*----- FEATURES SECOND - Open -----*/
#features-second {}
/*----- FEATURES SECOND - Open -----*/


/*----- FEATURES THIRD - Open -----*/
#features-third {}
/*----- FEATURES THIRD - Open -----*/


/*----- SIDEBAR - Open -----*/
.sidebar .block,
.sidebar .block-user,
.sidebar .block-views {
	background: #f4f4f4;
}
/*----- SIDEBAR - Close -----*/


/*----- FOOTER COLUMNS - Open -----*/
#footer-columns {
	background: #5d5d5d;
	color: #fff;
}
#footer-columns h2 {
	color: #fff;
	font-size: 1.4em;
}
#footer-columns a {
	color: #fff;
}
#footer-columns a.active,
#footer-columns a.active-trail,
#footer-columns a:hover {
	color: #ffcc00;
}
/* COLUMNS */
#footer-columns-wrapper .footer-column {
	background: #555;
	border-right: 1px #444 solid;
}
#footer-columns-wrapper .footer-column:first-child {
	border-left: 1px #444 solid;;
}
#footer-first {}
#footer-second {}
#footer-third {}
#footer-fourth {}
#footer-columns-wrapper .footer-column .footer-column-inner {
	padding: 30px 20px;
}
/*----- FOOTER COLUMNS - Close -----*/


/*----- FOOTER - Open -----*/
.footer-full {}
#footer {}
/*----- FOOTER - Close -----*/
